body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: blue;
}

p {
    color:red;
}

.box {
    color: white;
    background-color: purple;
    padding: 15px;
    width: 200px;
    margin: 20px auto;
}
