h1 {
    color: blue;
    text-align: center;
    text-transform: uppercase;
}

p {
    color:red;
    font-size: 16px;
    text-align: justify;
    line-height: 1.6;
    font-family: Arial, sans-serif;
}
